@{
    ViewData["Title"] = "Contatos";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Estudante em desenvolvimento,<br />
    São Paulo, SP / 04856-440<br />
    (011)970383104

</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:Support@example.com">knauer.kar2009@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">knauer.kar2009@gmail.com</a>
</address>
